@model UserViewModel
@{
	ViewBag.Title = SiteStrings.Signup_Title;
}

<h1>@SiteStrings.Signup_Title</h1>

<div class="container pull-left">
	<div class="row">
		<div class="col-sm-8">
			@Html.BootstrapValidationSummary(SiteStrings.Signup_Error_General)
			<p>@SiteStrings.Signup_Label</p>

			<div id="profile" class="lightborder rounded10 col-sm-12">

				<form class="form-horizontal" role="form" method="post">
					@(Html.HiddenFor<UserViewModel, string>(h => h.ExistingEmail))
					@(Html.HiddenFor<UserViewModel, string>(h => h.ExistingUsername))

					<!-- Firstname -->
					<div class="form-group">
						<label for="NewEmail" class="col-sm-3 control-label">@SiteStrings.Shared_Firstname_Label</label>
						<div class="col-sm-9">
							@(Html.TextBoxFor<UserViewModel, string>(t => t.Firstname, new { @class = "form-control" }))
						</div>
					</div>

					<!-- Lastname -->
					<div class="form-group">
						<label for="Lastname" class="col-sm-3 control-label">@SiteStrings.Shared_Lastname_Label</label>
						<div class="col-sm-9">
							@(Html.TextBoxFor<UserViewModel, string>(t => t.Lastname, new { @class = "form-control" }))
						</div>
					</div>

					<!-- Email -->
					<div class="form-group">
						<label for="NewEmail" class="col-sm-3 control-label">@SiteStrings.Shared_Email_Label</label>
						<div class="col-sm-9">
							@(Html.TextBoxFor<UserViewModel, string>(t => t.NewEmail, new { @class = "form-control" }))
						</div>
					</div>

					<!-- New username -->
					<div class="form-group">
						<label for="NewUsername" class="col-sm-3 control-label">@SiteStrings.Shared_Username_Label</label>
						<div class="col-sm-9">
							@(Html.TextBoxFor<UserViewModel, string>(t => t.NewUsername, new { @class = "form-control" }))
						</div>
					</div>

					<!-- Password -->
					<div class="form-group">
						<label for="Password" class="col-sm-3 control-label">@SiteStrings.Shared_Password_Label</label>
						<div class="col-sm-9">
							@(Html.PasswordFor<UserViewModel, string>(t => t.Password, new { @class = "form-control" }))
						</div>
					</div>

					<!-- Confirm password -->
					<div class="form-group">
						<label for="PasswordConfirmation" class="col-sm-3 control-label">@SiteStrings.Shared_PasswordConfirm_Label</label>
						<div class="col-sm-9">
							@(Html.PasswordFor<UserViewModel, string>(t => t.PasswordConfirmation, new { @class = "form-control" }))
						</div>
					</div>

					@if (SiteSettings.IsRecaptchaEnabled)
					{ 
						@Html.Partial("Recaptcha", SiteSettings)
					}

					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
							<input type="submit" class="btn btn-primary right" value="@SiteStrings.Button_Signup" />
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>

<br class="clear" />