@using Roadkill.Core.Configuration;
@model IList<IEnumerable<UserViewModel>>
@{ 
	ViewBag.Title = SiteStrings.SiteSettings_UserManagement_Title;
	ViewData["UsersActive"] = true;
}

@Html.SiteSettingsNavigation()

<div>
	<p class="label label-info">
		@SiteStrings.SiteSettings_UserManagement_AD_Title
	</p>

	<p>
		@SiteStrings.SiteSettings_UserManagement_AD_Label1
	</p>
	
	<p>
		@SiteStrings.SiteSettings_UserManagement_AD_Label2
	</p>
	
	<h2>@SiteStrings.SiteSettings_UserManagement_Admins (using group '@ApplicationSettings.AdminRoleName')</h2>
	<table class="table table-striped">
		@foreach (UserViewModel user in Model[0])
		{
		<tr>
			<td class="title">@user.ExistingEmail</td>
		</tr>
		}
	</table>
	<br class="clear" />

	<h2>@SiteStrings.SiteSettings_UserManagement_Editors (using group '@ApplicationSettings.EditorRoleName')</h2>
	<table class="table table-striped">
	@foreach (UserViewModel user in Model[1])
	{
		<tr>
			<td class="title">@user.ExistingEmail</td>
		</tr>
	}
	</table>
	<br class="clear" />
</div>