@using Roadkill.Core
<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	@Html.Partial("HeadContent")
	@Html.ResizeImagesScript()
</head>

<body>
<div id="container" class="center">
	<div id="inner">
		<div id="header">
			<img src="@Url.ThemeContent("roadkill.png", Configuration)" alt="logo" /><br/>
		
			@Html.MainPageLink("Home", "", "")&nbsp;|&nbsp;
			@Html.PageLink("Screenshots","screenshots")&nbsp;|&nbsp;
			@Html.PageLink("Credits","credits")&nbsp;|&nbsp;
			@Html.PageLink("Support","support")&nbsp;|&nbsp;
			@Html.PageLink("Documentation","documentation")
		</div>
		@RenderSection("PageToolbar", false)

		@RenderBody()		
		
		<br class="clear"/>
		<div id="footer">
			Powered by Roadkill Wiki. <br/>
			@Html.NewPageLink("","&nbsp;|&nbsp;") @Html.LoginStatus() - @Html.LoginLink("","") 
		</div>
	</div>
</div>
</body>
</html>