<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	@Html.Partial("HeadContent")
</head>

<body>
@using (Html.BeginForm("Index", "Search", FormMethod.Get))
{
	<div id="header">
		<div id="loggedinas" class="left">
			@Html.LoginStatus()
		</div>
		<div class="right">
			@Html.SettingsLink("&nbsp;|&nbsp;")
			@Html.LoginLink("&nbsp;|&nbsp;")
			@Html.NewPageLink("&nbsp;|&nbsp;")

			@Html.MainPageLink("Main Page")
			&nbsp;|&nbsp;@Html.ActionLink("Tags", "AllTags", "Pages")
			&nbsp;|&nbsp;@Html.ActionLink("All pages", "AllPages", "Pages")
			&nbsp;|&nbsp;Search: <input type="text" name="q" placeholder="Enter text to search" />
		</div>
	</div>
}
	@RenderSection("PageToolbar", false)

	<div id="container">
		@RenderBody()
	</div>
</body>
</html>