@using Roadkill.Core
<!DOCTYPE html>
<html>
<head>
	<title>@Html.PageTitle()</title>
	@Url.HeadContent()
</head>

<body>
@using (Html.BeginForm("Index", "Search", FormMethod.Post))
{
	<div id="header">
		<div id="loggedinas" class="left">
			@Html.LoginStatus()
		</div>
		<div class="right">
			@Html.LoginLink()
			@Html.NewPageLink()

			@Html.ActionLink("Main Page", "Index", "Home")
			&nbsp;|&nbsp;@Html.ActionLink("Tags", "AllTags", "Page")
			&nbsp;|&nbsp;@Html.ActionLink("All pages", "AllPages", "Page")
			&nbsp;|&nbsp;Search: <input type="text" name="id" placeholder="Enter text to search" />
		</div>
	</div>
}
	@RenderSection("Toolbar",false)

	<div id="container">
		<div id="leftcontent" class="left">
			@RenderBody()		
		</div>
	</div>
</body>
</html>