@model SettingsViewModel
@{
	Layout = "~/Views/Install/Layout.cshtml";
}
@Url.InstallerScriptLink("step5.js")
<script type="text/javascript">
	$(document).ready(function()
	{
		var wizard = new Roadkill.Web.Installer.InstallWizard();
		var step5 = new Roadkill.Web.Installer.Step5(wizard);
	});
</script>

@if (ViewData.ModelState.IsValid)
{
	<!-- Successful install -->
	<div class="alert alert-info">
		<strong>@InstallStrings.Step5_Success_Title</strong>
		
	@if (Model.UseWindowsAuth)
	{
		<!-- Windows auth web.config settings-->
		<p style="margin-top:20px;">
			<strong>@InstallStrings.Step5_WindowsAuth_Please_Read</strong>
		</p>
		<p>
			@InstallStrings.Step5_WindowsAuth_IIS_Settings
		</p>
<pre>
&lt;system.webServer&gt;
	...
	&lt;security&gt;
		&lt;authentication&gt;
			&lt;anonymousAuthentication enabled="false"/&gt;
			&lt;windowsAuthentication enabled="true" /&gt;
			&lt;basicAuthentication enabled="true" /&gt;
		&lt;/authentication&gt;
	&lt;/security&gt;
&lt;/system.webServer&gt;
</pre>
		 }
	</div>
	
	@section BottomButtons
	{
		<div class="continue">
			<a class="btn btn-success pull-right" href="@Url.Action("Index", "Home")">@InstallStrings.Step5_Continue_Button</a>
		</div>
	}
}
else
{
	<!-- Failed install -->
	<div class="alert alert-warning">
		<h4>@InstallStrings.Step5_Failure_Title</h4>
		<br />
		@InstallStrings.Step5_Failure_GoBack_And_Check
		<br /><br />
		<pre style="width:100%;overflow:scroll;">
			@Html.ValidationSummary()
		</pre>
	</div>
	
	@section BottomButtons
	{
		<div class="previous">
			<a class="btn btn-danger pull-left" href="javascript:history.go(-1)">&lt; @InstallStrings.Shared_Back</a>
		</div>
	}
}