@model IEnumerable<SearchResult>
@{ 
	string title = string.Format(SiteStrings.Search_Results, ViewData["search"]);
	if (Model.Count() == 0)
	{
		title = string.Format(SiteStrings.Search_NoResults, ViewData["search"]);
	}
	
	ViewBag.Title = title;
}

@if (Model.Count() == 0)
{
	<h1>@title</h1>
}
else
{
	<h1>@title</h1>
}

@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
	<div>
		<div class="left">@Html.TextBox("q",null,new { placeholder=SiteStrings.Search_PlaceHolder, @class="searchbox"})</div>
		<div class="left"><input type="submit" class="btn btn-primary" value="@SiteStrings.Button_Search" /></div>
	</div>
	<br class="clear" />
}

@foreach (SearchResult result in Model)
{
	<div class="searchresult">
		<div class="searchresult-title">@Html.ActionLink(result.Title, "Index", "Wiki", new { id = result.Id, title = result.Title.EncodeTitle() }, null)</div>
		<div class="searchresult-summary">@MvcHtmlString.Create(result.ContentSummary)...</div>
		<div>
			<div class="searchresult-date left">@Html.FormatFileSize(result.ContentLength) - @result.CreatedOn.ToString("dd MMM yyyy HH:ss")</div>
			<div class="searchresult-tags left">@Html.TagBlocks(result.TagsAsList())</div>
		</div>
	</div>
	<br class="clear" /><br />
}