<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li>@Html.ActionLink(SiteStrings.SiteSettings_Configuration, "Index", "Settings")</li>
			<li>@Html.ActionLink(SiteStrings.SiteSettings_Users, "Users", "Settings")</li>
			<li>@Html.ActionLink(SiteStrings.SiteSettings_Tools, "Tools", "Settings")</li>
			<li>@Html.ActionLink("Cache", "Cache", "Settings")</li>
			<li class="active">@Html.ActionLink("Logs", "Index", "LogViewer")</li>
		</ul>
	</div>
</div>