@model IList<IList<string>>
@{
	Layout = "~/Views/Shared/_Blank.cshtml";
	ViewBag.Title = SiteStrings.FileExplorer_Title;
}

@Url.CssLink("jqueryFileTree.css")
@Url.ScriptLink("jqueryFileTree.js")
@Url.ScriptLink("roadkill.files.js")

<div id="files-container" class="padded">
	<a href="javascript:;" id="uploadfile">@SiteStrings.FileExplorer_Upload</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	<a href="javascript:;" id="newdirectory">@SiteStrings.FileExplorer_NewDirectory</a>
	<br /><br />

	<div id="generic-container" class="hidden lightborder rounded5 midpadded"></div>

	<div id="uploadfile-container" class="hidden">
	<div class="selectedfolder">Adding to folder: /</div>
	@using (Html.BeginForm("UploadFile", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.Hidden("currentUploadFolderPath")
		<input type="file" id="uploadFile" name="uploadFile"/>
		<input type="submit" value="@SiteStrings.FileExplorer_Button_Upload" class="btn btn-primary"/>
	}
	</div>

	<div id="newfolder-container" class="hidden">
	<div class="selectedfolder">Adding to folder: /</div>
	@using (Html.BeginForm("NewFolder", "Files"))
	{
		@Html.Hidden("currentFolderPath")
		<span>@SiteStrings.FileExplorer_FolderName</span>
		@Html.TextBox("newFolderName")
		<input type="submit" value="@SiteStrings.FileExplorer_Button_Create" class="btn btn-primary"/>
	}
	</div>

	<h1>@SiteStrings.FileExplorer_ChooseFile</h1>
	@if (@TempData["Error"] != null)
	{
	<span class="validation-summary-errors">@TempData["Error"]</span>
	<br /><br />
	}
	<div>
		<div id="filetree-container" class="left padded"></div>
		<div class="left">
			<div id="file-preview" class="hidden lightborder padded">
				<span id="previewname" class="smallest"></span><br />
				<img id="previewimage" src="" alt="preview" />
				<input id="choosebutton" type="button" value="@SiteStrings.FileExplorer_Button_Select" class="btn btn-primary btn-mini" />
			</div>
			<br class="clear" />
		</div>
	</div>
	<br class="clear" />
</div>
