@model IEnumerable<PageSummary>
@{ 
	string title = string.Format(SiteStrings.Pages_ForUser, ViewData["Username"]);
	ViewBag.Title = title;
}
<h1>@title</h1>

@if (Model.Count() > 0)
{
<table id="userpagetable">
	@foreach (PageSummary summary in Model)
	{
	<tr>
		<td class="title" style="width:90%">@Html.ActionLink(summary.Title,"Index","Wiki",new { id = summary.Id,title=Url.EncodeTitle(summary.Title)},null)</td>
		@if (RoadkillContext.IsLoggedIn)
		{
		<td class="edit">@Html.ActionLink(SiteStrings.Shared_EditLink, "Edit",new { id = summary.Id} )</td>
		<td class="delete">@Html.ActionLink(SiteStrings.Shared_DeleteLink, "Delete", new { id = summary.Id })</td>
		}
	</tr>
	}
</table>
}
else
{
	<p>@string.Format(SiteStrings.Pages_ForUser_NoPages, ViewData["Username"])</p>
}