@model PageViewModel
@{
	ViewBag.Title = SiteStrings.EditPage_Title;
}
@Url.ScriptLinkForValidationLocalization()
<script type="text/javascript">
	$(document).ready(function () {
		//Roadkill.Site.EditPage.initializeTagManager("@Html.Raw(Model.CommaDelimitedTags())");
		$("form").validationEngine();
		$("#wysiwyg-toolbar a").popover({ placement: "top", trigger: "hover", html: true, delay: { show: 250, hide: 100 } });
	});
</script>
<style>
	#container { width:100%;height:100%;overflow:auto; }
	.searchbar	{ display:none; }
</style>

<div id="editpage" class="row">
	<div id="editpage-form" class="col-sm-6">
		@Html.ValidationSummary(SiteStrings.EditPage_Error, new { @class = "alert alert-block alert-danger fade in", data_dismiss = "alert" })

		<form class="form-horizontal" role="form" method="post">
			@(Html.HiddenFor<PageViewModel, int>(p => p.Id))
			@(Html.HiddenFor<PageViewModel, string>(p => p.PreviousTitle))
			@(Html.HiddenFor<PageViewModel, string>(p => p.RawTags))

			<div class="form-group">
				<div class="col-sm-12">
					@(Html.TextBoxFor<PageViewModel, string>(p => p.Title, new { @class = "validate[required] form-control", tabindex = 1, placeholder = SiteStrings.EditPage_Title_Label }))
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-10">
					@(Html.TextBox("TagsEntry", null, new { @class = "form-control", autocomplete = "off", tabindex = 2, placeholder = SiteStrings.EditPage_Tags_Label }))
				</div>
			</div>


			@if (RoadkillContext.IsAdmin)
			{
				<h6>@(Html.CheckBoxFor<PageViewModel>(p => p.IsLocked, new { tabindex = 3 })) @SiteStrings.EditPage_AdminOnly</h6>
			}

			@Html.Partial("WysiwgToolbar")
			@(Html.TextAreaFor<PageViewModel, string>(p => p.Content, new { @class = "form-control", tabindex = 4 }))

			<div id="editpage-button-container" class="row" >
				<div class="col-sm-1">
				@if (Model.Id > 0)
				{
					<h6>@Html.ActionLink(SiteStrings.Button_Cancel, "Index", "Wiki", new { id = Model.Id, title = Url.EncodeTitle(Model.Title) }, null)</h6>
				}
				else
				{
					<h6>@Html.ActionLink(SiteStrings.Button_Cancel, "Index", "Wiki")</h6>
				}
				</div>
				<div id="editpage-save-button" class="col-sm-11"><!-- @SiteStrings.Button_Preview" -->
					<input type="submit" class="btn btn-primary saveButton" value="@SiteStrings.Button_Save" tabindex="5" />
				</div>
			</div>

			@Html.DialogPartial("ChooseImage")
			@Html.DialogPartial("MarkupHelp")
		</form>
	</div>

	<div id="preview-wrapper" class="col-sm-5">
		<div id="previewLoading" class="hide"><img src="@(Url.Content("~/Assets/Images/loading.gif"))" border="0" alt="loading" /></div>
		<div id="preview"><br class="clear" /></div>
	</div>
	<div class="clear"></div>

</div>

