@model PageSummary
@{ 
	ViewBag.Title = SiteStrings.EditPage_Title;
}
@Url.CssLink("validationEngine.jquery.css")
@Url.ScriptLinkForValidationLocalization()
@Url.ScriptLink("jquery.validationEngine.js")
@Url.ScriptLink("bootstrap-tagmanager.js")
@Url.CssLink("bootstrap-tagmanager.css")
@Url.ScriptLink("roadkill.edit.js")
@Url.ScriptLink("roadkill.wysiwyg.js")
<script type="text/javascript">
	$(document).ready(function ()
	{
		initTagsManager("@Model.CommaDelimitedTags()");
		$("form").validationEngine();
		$("#wysiwyg-toolbar a").popover({ placement: "top", trigger: "hover", html: true, delay: { show: 500, hide: 100 } });
	});
</script>

<div id="editpage">
	@Html.ValidationSummary(SiteStrings.EditPage_Error, new { @class = "alert alert-block alert-error fade in", data_dismiss = "alert" })

	@using (Html.BeginForm())
	{
		@(Html.HiddenFor<PageSummary, int>(p => p.Id))
		@(Html.HiddenFor<PageSummary, string>(p => p.PreviousTitle))
		@(Html.HiddenFor<PageSummary, string>(p => p.RawTags))
	 
		<div>
			<label for="Title">@SiteStrings.EditPage_Title_Label</label>
			@(Html.TextBoxFor<PageSummary, string>(p => p.Title, new { @class = "longtextbox validate[required]", tabindex = 1 }))<br />
		</div>
		<br />
		
		<div>
			<label for="Tags">@SiteStrings.EditPage_Tags_Label</label>
			@(Html.TextBox("TagsEntry", null, new { autocomplete = "off", tabindex = 2, placeholder = "Enter a tag" }))
		</div>
	 
		if (RoadkillContext.IsAdmin)
		{
		<div class="lockpage">
			@(Html.CheckBoxFor<PageSummary>(p => p.IsLocked, new { tabindex = 3 }))
			<span>@SiteStrings.EditPage_AdminOnly</span>
		</div>
		}
		<br />
	 
		<div id="wysiwyg-toolbar">
			<a href="javascript:;" class="wysiwyg-bold" rel="popover" data-content="@SiteStrings.EditPage_Toolbar_Bold"><img src="@(Url.Content("~/Assets/Images/wysiwyg/bold.png"))" border="0" alt="bold" /></a>			
			<a href="javascript:;" class="wysiwyg-italic" rel="popover" data-content="@SiteStrings.EditPage_Toolbar_Italic"><img src="@(Url.Content("~/Assets/Images/wysiwyg/italic.png"))" border="0" alt="italic" /></a>
			<a href="javascript:;" class="wysiwyg-underline" rel="popover" data-content="@SiteStrings.EditPage_Toolbar_Underline"><img src="@(Url.Content("~/Assets/Images/wysiwyg/underline.png"))" border="0" alt="underline" /></a>
			<a href="javascript:;" class="wysiwyg-h1" rel="popover" data-content="@SiteStrings.EditPage_Toolbar_Heading1"><img src="@(Url.Content("~/Assets/Images/wysiwyg/h1.png"))" border="0" alt="heading 1" /></a>
			<a href="javascript:;" class="wysiwyg-h2" rel="popover" data-content="@SiteStrings.EditPage_Toolbar_Heading2"><img src="@(Url.Content("~/Assets/Images/wysiwyg/h2.png"))" border="0" alt="heading 2" /></a>						
			<a href="javascript:;" class="wysiwyg-h3" rel="popover" data-content="@SiteStrings.EditPage_Toolbar_Heading3"><img src="@(Url.Content("~/Assets/Images/wysiwyg/h3.png"))" border="0" alt="heading 3" /></a>					
			<a href="javascript:;" class="wysiwyg-h4" rel="popover" data-content="@SiteStrings.EditPage_Toolbar_Heading4"><img src="@(Url.Content("~/Assets/Images/wysiwyg/h4.png"))" border="0" alt="heading 4" /></a>					
			<a href="javascript:;" class="wysiwyg-h5" rel="popover" data-content="@SiteStrings.EditPage_Toolbar_Heading5"><img src="@(Url.Content("~/Assets/Images/wysiwyg/h5.png"))" border="0" alt="heading 5" /></a>					
			<a href="javascript:;" class="wysiwyg-bullets" rel="popover" data-content="@SiteStrings.EditPage_Toolbar_BulletList"><img src="@(Url.Content("~/Assets/Images/wysiwyg/bullets.png"))" alt="bulleted list" border="0" /></a>				
			<a href="javascript:;" class="wysiwyg-numbers" rel="popover" data-content="@SiteStrings.EditPage_Toolbar_NumberList"><img src="@(Url.Content("~/Assets/Images/wysiwyg/numbers.png"))" alt="numbered list" border="0" /></a>	
			<a href="javascript:;" class="wysiwyg-picture" rel="popover" data-content="@SiteStrings.EditPage_Toolbar_Image"><img src="@(Url.Content("~/Assets/Images/wysiwyg/picture.png"))" alt="Add alt picture" border="0" /></a>			
			<a href="javascript:;" class="wysiwyg-link" rel="popover" data-content="@SiteStrings.EditPage_Toolbar_Link"><img src="@(Url.Content("~/Assets/Images/wysiwyg/link.png"))" alt="link" border="0" /></a>			
			<a href="javascript:;" class="wysiwyg-help" rel="popover" data-content="@SiteStrings.EditPage_Toolbar_Help"><img src="@(Url.Content("~/Assets/Images/wysiwyg/help.png"))" title="" alt="help" border="0" /></a>
		</div>
		@(Html.TextAreaFor<PageSummary, string>(p => p.Content, new { tabindex = 4 }))
		<br />

		if (Model.Id > 0)
		{
			@Html.ActionLink(SiteStrings.Button_Cancel, "Index", "Wiki", new { id = Model.Id, title = Url.EncodeTitle(Model.Title) }, null)
		}
		else
		{
			@Html.ActionLink(SiteStrings.Button_Cancel, "Index", "Wiki")
		}
			 
		<div class="buttonContainer">
			<input type="submit" class="btn btn-primary saveButton" value="@SiteStrings.Button_Save" tabindex="4" />
			<input type="button" class="btn previewButton" value="@SiteStrings.Button_Preview" tabindex="5" />
		</div>
		<br class="clear" /><br />
	
		<div id="previewLoading"><img src="@(Url.Content("~/Assets/Images/loading.gif"))" border="0" alt="loading" /></div>
		<div id="previewContainer">
			<div id="title">@SiteStrings.EditPage_Preview</div>
			<div id="preview"></div>
		</div>
	}
</div>