@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
		@Url.JsBundle()
		@Url.CssBundle()
		@Url.BootstrapCSS()
		@Url.BootstrapJS()
		<link href="@Url.Content(SiteSettings.ThemePath + "/Theme.css")" rel="stylesheet" type="text/css" />
		<link href="@Url.Content(SiteSettings.ThemePath + "/Theme.print.css")" rel="stylesheet" type="text/css" media="print" />
		<link rel="shortcut icon" href="@Url.Content("~/Assets/Images/favicon.png")" />
		<style> 
			body { background-color: whitesmoke; }
		</style>
</head>
<body>
	<div id="filechooser-select">
		<div style="padding:3px">
			@Html.Partial("Navigator", false)
		</div>
		<script type="text/javascript">
			$(function ()
			{
				Roadkill.Web.FileManager.Setup.configure();
				$("body").on("fileselected", "table#files",
				function (e, data)
				{
					window.top.Roadkill.Web.WysiwygEditor.addImage(data.file);
				});
			});
		</script>
	</div>
</body>
</html>