@model SettingsSummary

@{ 
	ViewBag.Title = SiteStrings.SiteSettings_Configuration_Title;
}
@Url.CssLink("validationEngine.jquery.css")
@Url.ScriptLinkForValidationLocalization()
@Url.ScriptLink("jquery.validationEngine.js")
@Url.ScriptLink("jquery.tooltip.min.js")

<script type="text/javascript">
	$(document).ready(function ()
	{
		toggleUserSettings();
		$("form").validationEngine();
		$("#UseWindowsAuth").click(function ()
		{
			toggleUserSettings();
		});
		$(".row a").tooltip(
		{
			bodyHandler: function ()
			{
				return $(this).attr("rel");
			},
			showURL: false
		});
	});

	function toggleUserSettings()
	{
		if($("#UseWindowsAuth").is(":checked"))
		{
			$("#aspnetuser-settings").hide();
			$("#ldapsettings").show();
		}
		else
		{
			$("#ldapsettings").hide();
			$("#aspnetuser-settings").show();
		}
	}
</script>

<h1>@SiteStrings.SiteSettings_Configuration_Title</h1>

@Html.Partial("SettingsMenu")

@Html.ValidationSummary("Unable to save the settings:")

@using (Html.BeginForm())
{
<div id="settings" class="blueborder rounded5">
	<div class="row">
		<label for="SiteName">@SiteStrings.SiteSettings_Configuration_SiteName</label>
		<div class="left textbox">
			@(Html.TextBoxFor<SettingsSummary, string>(s => s.SiteName, new { @class = "validate[required]" }))
		</div>
		<div class="help right">
			<a href="javascript:;" rel="@SiteStrings.SiteSettings_Configuration_SiteName_Help"><img alt="help" border="0" src="@Url.Content("~/Assets/Images/help.png")" /></a>
		</div>
		<br class="clear" />
	</div>

	<div class="row">
		<label for="SiteUrl">@SiteStrings.SiteSettings_Configuration_SiteUrl</label>
		<div class="left textbox">
			@(Html.TextBoxFor<SettingsSummary, string>(s => s.SiteUrl, new { @class = "validate[required]" }))
		</div>
		<div class="help right">
			<a href="javascript:;" rel="@SiteStrings.SiteSettings_Configuration_SiteUrl_Help"><img alt="help" border="0" src="@Url.Content("~/Assets/Images/help.png")" /></a>
		</div>
		<br class="clear" />
	</div>

	<h2>@SiteStrings.SiteSettings_Configuration_ConnectionStrings</h2>
	<div class="row">
		<label for="DatabaseType">@SiteStrings.SiteSettings_Configuration_DatabaseType</label>
		<div class="left selectbox">
			@Html.DropDownBoxForDatabaseType()
		</div>
		<div class="help right">
			<a href="javascript:;" rel="@SiteStrings.SiteSettings_Configuration_DatabaseType_Help"><img alt="help" border="0" src="@Url.Content("~/Assets/Images/help.png")" /></a>
		</div>
		<br class="clear" />
	</div>

	<div class="row">
		<label for="ConnectionString">@SiteStrings.SiteSettings_Configuration_DatabaseConnectionString</label>
		<div class="left textbox" >
			@(Html.TextBoxFor<SettingsSummary, string>(s => s.ConnectionString, new { @class = "validate[required]" }))
		</div>
		<div class="help right">
			<a href="javascript:;" rel="@SiteStrings.SiteSettings_Configuration_DatabaseConnectionString_Help"><img alt="help" border="0" src="@Url.Content("~/Assets/Images/help.png")" /></a>
		</div>
		<br class="clear" />
	</div>

	<h2>Security</h2>
	<div class="row">
		<label for="UseWindowsAuth">@SiteStrings.SiteSettings_Configuration_UseWindowsAuth</label>
		<div class="left checkbox">
			@(Html.CheckBoxFor<SettingsSummary>(s => s.UseWindowsAuth))
		</div>
		<div class="help right">
			<a href="javascript:;" rel="@SiteStrings.SiteSettings_Configuration_UseWindowsAuth_Help"><img alt="help" border="0" src="@Url.Content("~/Assets/Images/help.png")" /></a>
		</div>
		<br class="clear" />
	</div>

	<!-- SQL users -->
	 <div id="aspnetuser-settings" class="hidden">
		<div class="row">
			<label for="AllowUserSignup">@SiteStrings.SiteSettings_Configuration_AllowUserSignups</label>
			<div class="left checkbox">
				@(Html.CheckBoxFor<SettingsSummary>(s => s.AllowUserSignup))
			</div>
			<div class="help right">
				<a href="javascript:;" rel="@SiteStrings.SiteSettings_Configuration_AllowUserSignups_Help"><img alt="help" border="0" src="@Url.Content("~/Assets/Images/help.png")" /></a>
			</div>
			<br class="clear" />
		</div>

		<div class="row">
			<label for="EnableRecaptcha">@SiteStrings.SiteSettings_Configuration_EnableRecaptcha</label>
			<div class="left checkbox">
				@(Html.CheckBoxFor<SettingsSummary>(s => s.EnableRecaptcha))
			</div>
			<div class="help right">
				<a href="javascript:;" rel="@SiteStrings.SiteSettings_Configuration_EnableRecaptcha_Help"><img alt="help" border="0" src="@Url.Content("~/Assets/Images/help.png")" /></a>
			</div>
			<br class="clear" />
		</div>

		<div class="row">
			<label for="RecaptchaPrivateKey">@SiteStrings.SiteSettings_Configuration_RecaptchaPrivateKey</label>
			<div class="left textbox">
				@(Html.TextBoxFor<SettingsSummary, string>(s => s.RecaptchaPrivateKey))
			</div>
			<div class="help right">
				<a href="javascript:;" rel="@SiteStrings.SiteSettings_Configuration_RecaptchaPrivateKey_Help"><img alt="help" border="0" src="@Url.Content("~/Assets/Images/help.png")" /></a>
			</div>
			<br class="clear" />
		</div>

		<div class="row">
			<label for="RecaptchaPrivateKey">@SiteStrings.SiteSettings_Configuration_RecaptchaPublicKey</label>
			<div class="left textbox">
				@(Html.TextBoxFor<SettingsSummary, string>(s => s.RecaptchaPublicKey))
			</div>
			<div class="help right">
				<a href="javascript:;" rel="@SiteStrings.SiteSettings_Configuration_RecaptchaPublicKey_Help"><img alt="help" border="0" src="@Url.Content("~/Assets/Images/help.png")" /></a>
			</div>
			<br class="clear" />
		</div>
	</div>

	<!-- LDAP users -->
	<div id="ldapsettings" class="hidden">
		<div class="row">
			<label for="LdapConnectionString">@SiteStrings.SiteSettings_Configuration_AD_Connection</label>
			<div class="left textbox">
				@(Html.TextBoxFor<SettingsSummary, string>(s => s.LdapConnectionString, new { @class = "validate[required]" }))
			</div>
			<div class="help right">
				<a href="javascript:;" rel="@SiteStrings.SiteSettings_Configuration_AD_Connection_Help"><img alt="help" border="0" src="@Url.Content("~/Assets/Images/help.png")" /></a>
			</div>
			<br class="clear" />
		</div>
		<div class="row">
			<label for="LdapUsername">@SiteStrings.SiteSettings_Configuration_AD_Username</label>
			<div class="left textbox">
				@(Html.TextBoxFor<SettingsSummary, string>(s => s.LdapUsername))
			</div>
			<div class="help right">
				<a href="javascript:;" rel="@SiteStrings.SiteSettings_Configuration_AD_Username_Help"><img alt="help" border="0" src="@Url.Content("~/Assets/Images/help.png")" /></a>
			</div>
			<br class="clear" />
		</div>
		<div class="row">
			<label for="LdapPassword">@SiteStrings.SiteSettings_Configuration_AD_Password</label>
			<div class="left textbox">
				@(Html.TextBoxFor<SettingsSummary, string>(s => s.LdapPassword))
			</div>
			<div class="help right">
				<a href="javascript:;" rel="@SiteStrings.SiteSettings_Configuration_AD_Password_Help"><img alt="help" border="0" src="@Url.Content("~/Assets/Images/help.png")" /></a>
			</div>
			<br class="clear" />
		</div>
	</div>

	<div class="row">
		<label for="EditorRoleName">@SiteStrings.SiteSettings_Configuration_EditorRole</label>
		<div class="left smalltextbox">
			@(Html.TextBoxFor<SettingsSummary, string>(s => s.EditorRoleName, new { @class = "validate[required]" }))
		</div>
		<div class="help right">
			<a href="javascript:;" rel="@SiteStrings.SiteSettings_Configuration_EditorRole_Help"><img alt="help" border="0" src="@Url.Content("~/Assets/Images/help.png")" /></a>
		</div>
		<br class="clear" />
	</div>
	<div class="row">
		<label for="AdminRoleName">@SiteStrings.SiteSettings_Configuration_AdminRole</label>
		<div class="left smalltextbox">
			@(Html.TextBoxFor<SettingsSummary, string>(s => s.AdminRoleName))
		</div>
		<div class="help right">
			<a href="javascript:;" rel="@SiteStrings.SiteSettings_Configuration_AdminRole_Help"><img alt="help" border="0" src="@Url.Content("~/Assets/Images/help.png")" /></a>
		</div>
		<br class="clear" />
	</div>
	
	<h2>General</h2>
	<div class="row">
		<label for="MarkupType">@SiteStrings.SiteSettings_Configuration_MarkupType</label>
		<div class="left smalltextbox">
			@(Html.TextBoxFor<SettingsSummary, string>(s => s.MarkupType, new { @class = "validate[required]" }))
		</div>
		<div class="help right">
			<a href="javascript:;" rel="@SiteStrings.SiteSettings_Configuration_MarkupType_Help"><img alt="help" border="0" src="@Url.Content("~/Assets/Images/help.png")" /></a>
		</div>
		<br class="clear" />
	</div>
	<div class="row">
		<label for="Theme">@SiteStrings.SiteSettings_Configuration_Theme</label>
		<div class="left smalltextbox">
			@(Html.TextBoxFor<SettingsSummary, string>(s => s.Theme, new { @class = "validate[required]" }))
		</div>
		<div class="help right">
			<a href="javascript:;" rel="@SiteStrings.SiteSettings_Configuration_Theme_Help"><img alt="help" border="0" src="@Url.Content("~/Assets/Images/help.png")" /></a>
		</div>
		<br class="clear" />
	</div>
	<div class="row">
		<label for="AttachmentsFolder">@SiteStrings.SiteSettings_Configuration_Attachments</label>
		<div class="left smalltextbox">
			@(Html.TextBoxFor<SettingsSummary, string>(s => s.AttachmentsFolder, new { @class = "validate[required]" }))
		</div>
		<div class="help right">
			<a href="javascript:;" rel="@SiteStrings.SiteSettings_Configuration_Attachments_Help"><img alt="help" border="0" src="@Url.Content("~/Assets/Images/help.png")" /></a>
		</div>
		<br class="clear" />
	</div>
	<div class="row">
		<label for="AllowedExtensions">@SiteStrings.SiteSettings_Configuration_Extensions</label>
		<div class="left smalltextbox">
			@(Html.TextBoxFor<SettingsSummary, string>(s => s.AllowedExtensions, new { @class = "validate[required]" }))
		</div>
		<div class="help right">
			<a href="javascript:;" rel="@SiteStrings.SiteSettings_Configuration_Extensions_Help"><img alt="help" border="0" src="@Url.Content("~/Assets/Images/help.png")" /></a>
		</div>
		<br class="clear" />
	</div>
	<div class="row">
		<label for="CacheEnabled">@SiteStrings.SiteSettings_Configuration_Caching</label>
		<div class="left checkbox">
			@(Html.CheckBoxFor<SettingsSummary>(s => s.CacheEnabled))
		</div>
		<div class="help right">
			<a href="javascript:;" rel="@SiteStrings.SiteSettings_Configuration_Caching_Help"><img alt="help" border="0" src="@Url.Content("~/Assets/Images/help.png")" /></a>
		</div>
		<br class="clear" />
	</div>
	<div class="row">
		<label for="CacheText">@SiteStrings.SiteSettings_Configuration_CachePageText</label>
		<div class="left checkbox">
			@(Html.CheckBoxFor<SettingsSummary>(s => s.CacheText))
		</div>
		<div class="help right">
			<a href="javascript:;" rel="@SiteStrings.SiteSettings_Configuration_CachePageText_Help"><img alt="help" border="0" src="@Url.Content("~/Assets/Images/help.png")" /></a>
		</div>
		<br class="clear" />
	</div>
	
	<input type="submit" class="right button" value="@SiteStrings.Button_Save" />
	<br class="clear" />
</div>

<p>
Roadkill @string.Format(SiteStrings.Version_Title, Model.Version)
</p>
}