@model SettingsSummary

@{ 
	ViewBag.Title = "Site settings";
}
<h1>Site settings</h1>

@Html.Partial("SettingsMenu")

@using (Html.BeginForm())
{
<div id="settings" class="blueborder rounded5">
	<div class="row">
		<label for="connectionString">Site name:</label>
		<div class="left textbox">@(Html.TextBoxFor<SettingsSummary, string>(s => s.SiteName))</div>
		<br class="clear" />
	</div>

	<h2>Connection strings</h2>
	<div class="row">
		<label for="connectionString">Database connection string:</label>
		<div class="left textbox">@(Html.TextBoxFor<SettingsSummary, string>(s => s.ConnectionString))</div>
		<br class="clear" />
	</div>
	<div class="row">
		<label for="connectionString">Use Windows/Active Directory authentication:</label>
		<div class="left checkbox">@(Html.CheckBoxFor<SettingsSummary>(s => s.UseWindowsAuth))</div>
		<br class="clear" />
	</div>
	<div class="row">
		<label for="connectionString">Authentication/LDAP connection string:</label>
		<div class="left textbox">@(Html.TextBoxFor<SettingsSummary, string>(s => s.RolesConnectionString))</div>
		<br class="clear" />
	</div>

	
	<h2>General</h2>
	<div class="row">
		<label for="connectionString">Caching:</label>
		<div class="left checkbox">@(Html.CheckBoxFor<SettingsSummary>(s => s.CacheEnabled))</div>
		<br class="clear" />
	</div>
	<div class="row">
		<label for="connectionString">Cache page text:</label>
		<div class="left checkbox">@(Html.CheckBoxFor<SettingsSummary>(s => s.CacheText))</div>
		<br class="clear" />
	</div>
	<div class="row">
		<label for="connectionString">Editor role/security group name:</label>
		<div class="left smalltextbox">@(Html.TextBoxFor<SettingsSummary, string>(s => s.EditorRoleName))</div>
		<br class="clear" />
	</div>
	<div class="row">
		<label for="connectionString">Admin role/security group name:</label>
		<div class="left smalltextbox">@(Html.TextBoxFor<SettingsSummary, string>(s => s.AdminRoleName))</div>
		<br class="clear" />
	</div>

	<input type="submit" class="right button" value="Save" />
	<br class="clear" />
</div>
}