@{ 
	ViewBag.Title = "Site tools";
}
<h1>Site settings</h1>

@Html.Partial("SettingsMenu")

<p>
<b>@Html.ActionLink("Clear the database", "WipePages")</b><br />
Clears all pages and text from the database. This does not remove any users.
</p>

<p>
<b>@Html.ActionLink("Export to XML", "ExportAsXml")</b><br />
Exports all pages, including text content and all history as a single XML file.
</p>

<p>
<b>@Html.ActionLink("Export all content as a zip", "ExportContent")</b><br />
Exports all pages, including text content as a series of ".wiki" files. Only
the current content and tags are included, no history is provided.
</p>

<span class="bold borderbottom">Import from screwturn</span><br />
<p>

Imports all content from a Screwturn 2 database. You will need to set the markuptype to MediaWiki 
in the settings/web.config file for the format to be compatible. As screwturn uses as variation on 
the mediawiki syntax, some content will not render perfectly. This includes some images and links.
</p>
<span class="bold" style="color:green">@TempData["DoneMessage"]</span>
@using (Html.BeginForm("ImportFromScrewTurn","Settings"))
{
<b>Screwturn connection string:</b>
@(Html.TextBox("screwturnConnectionString", null, new { style = "width:30em" }))<br />
<input type="submit" class="button" value="import" />
}