<!DOCTYPE html>
<html>
	<head>
		<title>@ViewBag.Title</title>
		@Html.Partial("HeadContent")
	</head>
<body>

@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
	<div id="headfade">
		@Html.Action("LoggedInAs", "User", true)
		<br class="clear" />
		<div id="search">
			<input type="text" name="q" placeholder="@SiteStrings.Search_PlaceHolder" />
			<button id="searchbutton">
				<img src="@Url.ThemeContent("search.png", Configuration)" alt="Search" />
			</button>
		</div>	
	</div>
}

	<div id="logo">
		<a href="@(Url.Action("Index", "Home"))"><img src="@Url.ThemeContent("logo.png", Configuration)" alt="logo" border="0" /></a>
	</div>
	<div id="panel">
		@Html.Action("LeftMenu", "User", true)
	</div>

	<div id="container">
		@RenderSection("PageToolbar", false)
		@if (RoadkillContext.IsContentPage)
		{
			<div id="viewhistory">@Html.ActionLink(SiteStrings.Navigation_ViewHistory, "History", "Pages", new { id = RoadkillContext.Page.Id }, null)</div>
		}
		<div id="content">
			@RenderBody()
		</div>
	</div>

	<div id="footer">
		@if (RoadkillContext.IsContentPage)
		{
		<p>@SiteStrings.Shared_LastModified @RoadkillContext.Page.ModifiedOn.ToString("dd MMM yyyy") 
		at @RoadkillContext.Page.ModifiedOn.ToShortTimeString().</p>
		}
		<p>
			@SiteStrings.Shared_PoweredBy (@ApplicationSettings.AssemblyVersion.ToString()). This theme contains portions of its design from <a href="http://www.mediawiki.org" target="_blank">Mediawiki.org</a>.
		</p>
	</div>
</body>
</html>