@model IList<IList<string>>
@{
	ViewBag.Title = SiteStrings.FileManager_Title;
}
<script type="text/javascript">
	$(function ()
	{
		Roadkill.Site.FileManager.Setup.configure();
	});
</script>

<h2>@SiteStrings.FileManager_Title</h2>

@Html.Partial("Navigator", true)

<div id="progress">
    <div class="bar" style="width: 0%;"></div>
</div>

@using (Html.BeginForm("FileUpload", "FileManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.Hidden("destination_folder", "")
    <span class="fileupload-buttonbar ">
        <span class="fileupload-button btn">
            <span>@SiteStrings.FileManager_Upload</span>
            <input id="fileupload" type="file" name="files[]" data-url="FileManager/FileUpload" multiple>
        </span>
	@if (RoadkillContext.IsAdmin)
	{
        <button id="deletefilebtn" type="button" class="btn">@SiteStrings.FileManager_Delete_File</button>
	}
        <button id="addfolderbtn" type="button" class="btn">@SiteStrings.FileManager_Add_Folder</button>
	@if (RoadkillContext.IsAdmin)
	{
        <button id="deletefolderbtn" type="button" class="btn">@SiteStrings.FileManager_Delete_Folder</button>
	}
    </span>
}