@model LanguageViewModel
@{
	Layout = "~/Views/Install/Layout.cshtml";
}

@Url.ScriptLink("roadkill/installer/step1.js")
<script type="text/javascript">
	$(document).ready(function()
	{
		var messages =
		{
			successTitle: "@InstallStrings.Shared_Success",
			successMessage: "@InstallStrings.Page1_WebConfig_Success_Message",
			failureTitle: "@InstallStrings.Shared_Failure",
			failureMessage: "@InstallStrings.Page1_WebConfig_Failure_Message",
		};

		var wizard = new Roadkill.Site.Installer.InstallWizard();
		var step1 = new Roadkill.Site.Installer.Step1(wizard, messages);
		step1.bindButtons();
	});
</script>

<p>
@InstallStrings.Page1_Label1
</p>
	
<p>
@InstallStrings.Page1_Label2
</p>

<input id="testwebconfig" class="btn btn-info" type="button" value="@InstallStrings.Shared_TestButton" />

<a href="@Url.Action("Step2", new { language = Model.Code })" class="continue hidden btn btn-success pull-right">@InstallStrings.Shared_Continue ></a>