@model SettingsViewModel
@{
	Layout = "~/Views/Install/Layout.cshtml";
}
@Url.ScriptLink("roadkill/installer/step3.js")
<script type="text/javascript">
	$(document).ready(function ()
	{
		var messages = {};

		var wizard = new Roadkill.Site.Installer.InstallWizard();
		var step3 = new Roadkill.Site.Installer.Step3(wizard, messages);
		step3.configureDatabaseAuthValidation();
	});
</script>

<form role="form" method="post" id="step3-form" action="@Url.Action("Step4", "Install")">
    @(Html.HiddenFor<SettingsViewModel, string>(h => h.ConnectionString))
    @(Html.HiddenFor<SettingsViewModel, string>(h => h.DataStoreTypeName))
    @(Html.HiddenFor<SettingsViewModel, string>(h => h.SiteName))
    @(Html.HiddenFor<SettingsViewModel, string>(h => h.SiteUrl))
    @(Html.HiddenFor<SettingsViewModel, bool>(h => h.UseWindowsAuth))
    
    <p>
        @InstallStrings.Page3_DB_Label
    </p>
    
    <!-- Editor role name -->
    <fieldset>
        <legend>@InstallStrings.Page3_DB_Group1_Title</legend>
        <label for="EditorRoleName">@InstallStrings.Page3_DB_Group1_Label1</label>
        
        <div class="form-group col-lg-4 row">
            @Html.BootstrapTextBoxFor(s => s.EditorRoleName, InstallStrings.Page3_AD_Group1_Label3)
        </div>
    </fieldset>
    
    <!-- Admin role name -->
    <fieldset>
        <legend>@InstallStrings.Page3_DB_Group2_Title</legend>
        <label for="AdminRoleName">@InstallStrings.Page3_DB_Group2_Label1</label>

        <div class="form-group">
            @Html.BootstrapTextBoxFor(s => s.AdminRoleName, InstallStrings.Page3_DB_Group2_Label1)
        </div>
    </fieldset>
    
    <!-- Allow user signups -->
    <fieldset>
        <legend>@InstallStrings.Page3_DB_Group3_Title</legend>
        <p>@InstallStrings.Page3_DB_Group3_Label1</p>

        <div class="form-group col-lg-4 row">
            <label for="AllowUserSignup" class="checkbox">
                @InstallStrings.Page3_DB_Group3_Label2
                @Html.BootstrapCheckBoxFor(s => s.AllowUserSignup, InstallStrings.Page3_DB_Group3_Label2)
            </label>
        </div>
    </fieldset>
    
    <!-- Enable recaptcha -->
    <fieldset>
        <legend>@InstallStrings.Page3_DB_Group4_Title</legend>
        <p>@Html.Raw(LocalizationTokens.ReplaceRecaptcha(InstallStrings.Page3_DB_Group4_Label1))</p>

        <div class="form-group">
            <label for="IsRecaptchaEnabled" class="checkbox">
                @InstallStrings.Page3_DB_Group4_Label2
                @Html.BootstrapCheckBoxFor(s => s.IsRecaptchaEnabled, InstallStrings.Page3_DB_Group4_Label2)
            </label>
            
            <label for="RecaptchaPublicKey">@InstallStrings.Page3_DB_Group4_Label3</label>
            @Html.BootstrapTextBoxFor(s => s.RecaptchaPublicKey, InstallStrings.Page3_DB_Group4_Label3)
            
            <label for="RecaptchaPrivateKey">@InstallStrings.Page3_DB_Group4_Label4</label>
            @Html.BootstrapTextBoxFor(s => s.RecaptchaPrivateKey, InstallStrings.Page3_DB_Group4_Label4)
        </div>
    </fieldset>
    
    <!-- Admin email -->
    <fieldset>
        <legend>@InstallStrings.Page3_DB_Group5_Title</legend>
        <label for="AdminEmail">@InstallStrings.Page3_DB_Group5_Label1</label>

        <div class="form-group col-lg-6 row">
            @Html.BootstrapTextBoxFor(s => s.AdminEmail, InstallStrings.Page3_DB_Group5_Label1)
        </div>
    </fieldset>
    
    <!-- Admin passwords -->
    <fieldset>
        <legend>@InstallStrings.Page3_DB_Group6_Title</legend>

        <div class="form-group col-lg-6 row">
            <label for="AdminPassword">@InstallStrings.Page3_DB_Group6_Label1</label>
            @Html.BootstrapPasswordFor(s => s.AdminPassword, InstallStrings.Page3_DB_Group6_Label1)
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group col-lg-6 row">
            @Html.BootstrapPassword("password2", InstallStrings.Page3_DB_Group6_Label1)
        </div>
    </fieldset>

    <!-- Back and Continue buttons -->
    <div class="row">
        <div class="previous"><a href="javascript:history.go(-1)">&lt; @InstallStrings.Shared_Back</a></div>
        <div class="continue">
            <input type="submit" value="@InstallStrings.Shared_NextButton" class="btn btn-success pull-right" />
        </div>
    </div>
</form>