@model SettingsViewModel
@{
	Layout = "~/Views/Install/Layout.cshtml";
}
@Url.ScriptLink("roadkill/installer/step3.js")
<script type="text/javascript">
	$(document).ready(function ()
	{
		var messages =
		{
			successTitle: "@InstallStrings.Shared_Success",
			successMessage: "@InstallStrings.Page3_AD_Connection_Success",
			failureTitle: "@InstallStrings.Shared_Failure",
			failureMessage: "@InstallStrings.Page3_AD_Connection_Error",
		};
		
		var wizard = new Roadkill.Site.Installer.InstallWizard();
		var step3 = new Roadkill.Site.Installer.Step3(wizard, messages);
		step3.bindWindowsAuthButtons();
		step3.configureWindowsAuthValidation();
	});
</script>

<form role="form" method="post" id="step2-form" action="@Url.Action("Step4", "Install")">
	@(Html.HiddenFor<SettingsViewModel, string>(h => h.ConnectionString))
	@(Html.HiddenFor<SettingsViewModel, string>(h => h.DataStoreTypeName))
	@(Html.HiddenFor<SettingsViewModel, string>(h => h.SiteName))
	@(Html.HiddenFor<SettingsViewModel, string>(h => h.SiteUrl))
	@(Html.HiddenFor<SettingsViewModel, bool>(h => h.UseWindowsAuth))

	<!-- Connection string -->
	<fieldset class="row">
		<legend>@InstallStrings.Page3_AD_Group1_Title</legend>

		<div class="form-group">
			<p>
				@InstallStrings.Page3_AD_Group1_Label1
			</p>

			<p>
				@Html.Raw(LocalizationTokens.ReplaceAdExplorer(InstallStrings.Page3_AD_Group1_Label2))
			</p>

			<p>
				@InstallStrings.Page3_AD_Group1_Label3
			</p>
		</div>

		<!-- Connection string -->
		<div class="form-group">
			<label for="LdapConnectionString">@InstallStrings.Page3_AD_Group1_Title</label>
			@Html.BootstrapTextBoxFor(s => s.LdapConnectionString, InstallStrings.Page3_AD_Group1_Label3)
		</div>

		<!-- LDAP username string -->
		<div class="form-group">
			<label for="LdapUsername">@InstallStrings.Page3_AD_Group2_Label1</label>
			@Html.BootstrapTextBoxFor(s => s.LdapUsername, InstallStrings.Page3_AD_Group2_Label1)
		</div>

		<!-- LDAP password string -->
		<div class="form-group">
			<label for="LdapPassword">@InstallStrings.Page3_AD_Group2_Label2</label>
			@Html.BootstrapPasswordFor(s => s.LdapPassword, InstallStrings.Page3_AD_Group2_Label2)
		</div>

		<!-- Test LDAP connection string button -->
		<div class="form-group">
			<button id="testldap" class="btn btn-info test-button" type="button">
				@InstallStrings.Shared_TestButton
				<span id="db-loading" class="hidden"><img src="@(Url.Content("~/Assets/Images/button-loading.gif"))" border="0" alt="loading" /></span>
			</button>
		</div>
	</fieldset>

	<!-- Editor name -->
	<fieldset class="row">
		<legend>@InstallStrings.Page3_AD_Group3_Title</legend>

		<p>
			@InstallStrings.Page3_AD_Group3_Label
		</p>

		<!-- Editor name -->
		<div class="form-group">
			@Html.BootstrapTextBoxFor(s => s.EditorRoleName, InstallStrings.Page3_AD_Group3_Label)
		</div>

		<!-- Test editor button -->
		<div class="form-group">
			<button id="testeditor" class="btn btn-info test-button" type="button">
				@InstallStrings.Shared_TestButton
				<span id="db-loading" class="hidden"><img src="@(Url.Content("~/Assets/Images/button-loading.gif"))" border="0" alt="loading" /></span>
			</button>
		</div>
	</fieldset>

	<!-- Admin name -->
	<fieldset class="row">
		<legend>@InstallStrings.Page3_AD_Group4_Title</legend>

		<p>
			@InstallStrings.Page3_AD_Group4_Label
		</p>

		<!-- Admin name -->
		<div class="form-group">
			@Html.BootstrapTextBoxFor(s => s.AdminRoleName, InstallStrings.Page3_AD_Group4_Label)
		</div>

		<!-- Test admin button -->
		<div class="form-group">
			<button id="testadmin" class="btn btn-info test-button" type="button">
				@InstallStrings.Shared_TestButton
				<span id="db-loading" class="hidden"><img src="@(Url.Content("~/Assets/Images/button-loading.gif"))" border="0" alt="loading" /></span>
			</button>
		</div>
	</fieldset>

	<div class="row">
		<div class="previous"><a href="javascript:history.go(-1)">&lt; @InstallStrings.Shared_Back</a></div>
		<div class="continue">
			<input type="submit" value="@InstallStrings.Shared_NextButton" class="btn btn-success pull-right" />
		</div>
	</div>
</form>