@model SettingsViewModel
@{
	Layout = "~/Views/Install/Layout.cshtml";
}
@Url.ScriptLink("roadkill/installer/step2.js")
<script type="text/javascript">
	$(document).ready(function ()
	{
		var messages =
		{
			dbSuccessTitle: "@InstallStrings.Shared_Success",
			dbSuccessMessage: "@InstallStrings.Page2_Success",
			dbFailureTitle: "@InstallStrings.Page2_Error",

			sqliteSuccessTitle: "@InstallStrings.Page2_Group3_SQLiteSuccessTitle",
			sqliteSuccessMessage: "@InstallStrings.Page2_Group3_SQLiteSuccessMessage",
			sqliteFailureTitle: "@InstallStrings.Page2_Group3_SQLiteFailureTitle",
			sqliteFailureMessage: "@InstallStrings.Page2_Group3_SQLiteFailureMessage",
		};

		var wizard = new Roadkill.Site.Installer.InstallWizard();
		var step2 = new Roadkill.Site.Installer.Step2(wizard, messages);
		step2.bindButtons();
	});
</script>

<p>
	@InstallStrings.Page2_Label1
</p>

<form role="form" method="post" id="step2-form" action="@Url.Action("Step3","Install")">
	<!-- Site name -->
	<div class="form-group">
		<fieldset>
			<legend>@InstallStrings.Page2_Group1_Title</legend>

			<div class="form-group">
				<label for="SiteName">@InstallStrings.Page2_Group1_Label</label>
				@Html.BootstrapTextBoxFor(s => s.SiteName, InstallStrings.Page2_Group1_Label)
			</div>
		</fieldset>
	</div>

	<!-- Site url -->
	<div class="form-group">
		<fieldset>
			<legend>@InstallStrings.Page2_Group2_Title</legend>

			<div class="form-group">
				<label for="SiteUrl">@InstallStrings.Page2_Group2_Label</label>
				@Html.BootstrapTextBoxFor(s => s.SiteUrl, InstallStrings.Page2_Group2_Label)
			</div>
		</fieldset>
	</div>

	<!-- Database connection string -->
	<div class="form-group">
		<fieldset>
			<legend>@InstallStrings.Page2_Group3_Title</legend>

			<!-- Example db connection strings collapsed table -->
			<div class="form-group">
				<a data-toggle="collapse" href="#connectionstrings-table">@InstallStrings.Page2_Group3_Label2 ...</a>
				<table id="connectionstrings-table" class="collapse table table-striped table-bordered TODO-translation">
					<thead>
						<tr>
							<th>Database</th>
							<th>Connection string</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>SQL Server Express</td>
							<td class="example" data-dbtype="SqlServer2012">Database=roadkill;Server=.\SQLEXPRESS;uid=username;pwd=password;</td>
						</tr>
						<tr>
							<td>SQL Server Express (integrated security)</td>
							<td class="example" data-dbtype="SqlServer2012">Database=roadkill;Server=.\SQLEXPRESS;Integrated Security=SSPI</td>
						</tr>
						<tr>
							<td>SQL Server App_Data file-based</td>
							<td class="example" data-dbtype="SqlServer2012">Server=.\SQLExpress;AttachDbFilename=|DataDirectory|\roadkill.mdf;Integrated Security=True;User Instance=True</td>
						</tr>
						<tr>
							<td>SQL Server Compact</td>
							<td class="example" data-dbtype="SqlServerCe">Data Source=|DataDirectory|\roadkill.sdf;</td>
						</tr>
						<tr>
							<td>SQLite (stored in the App_Data folder)</td>
							<td class="example" data-dbtype="Sqlite">Data Source=|DataDirectory|\roadkill.sqlite;</td>
						</tr>
						<tr>
							<td>MongoDB</td>
							<td class="example" data-dbtype="MongoDB">mongodb://username:password@mongohq.com:10057/MyDatabaseName</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- Database connection string -->
			<div class="form-group">
				<label>@InstallStrings.Page2_Group3_Title</label>
				@Html.BootstrapTextBoxFor(s => s.ConnectionString, InstallStrings.Page2_Group2_Label)
			</div>

			<!-- Database type -->
			<div class="form-group">
				<label>@InstallStrings.Page2_Group3_Label3</label>
				@Html.BootstrapDropDownListFor(s => s.DataStoreTypeName, Html.DatabaseTypesAvailable(Model), InstallStrings.Page2_Group3_Label3)

			</div>

			<!-- Test button -->
			<div class="form-group">
				<button id="testdbconnection" class="btn btn-info test-button" type="button">
					@InstallStrings.Shared_TestButton
					<span id="db-loading" class="hidden"><img src="@(Url.Content("~/Assets/Images/button-loading.gif"))" border="0" alt="loading" /></span>
				</button>
			</div>
		</fieldset>
	</div>

	<!-- SQLite info box -->
	<div class="alert alert-warning">
		<p id="sqlite-details">
			<b>@InstallStrings.Page2_Group3_SQLiteInstructionsTitle</b><br />
			@Html.Raw(LocalizationTokens.ReplaceSqlite(InstallStrings.Page2_Group3_SQLiteInstructionsMessage))
		</p>
	</div>
</form>

@section BottomButtons
{
	<div class="previous">
		@Html.ActionLink("< " + InstallStrings.Shared_Back, "Index")
	</div>
	<div class="continue">
		<button type="submit" class="btn btn-success pull-right">@InstallStrings.Shared_NextButton</button>
	</div>
}