@{ 
	ViewBag.Title = SiteStrings.Login_Title;
	Layout = "~/Views/Shared/_Blank.cshtml";
}
<div class="padded" style="background-color:White;min-height:380px;">
	<h1 style="margin-top:0px;">@SiteStrings.Login_Title</h1>
	@Html.ValidationSummary(SiteStrings.Login_Unsuccessful_Title)


	<div id="login" class="rounded10 lightborder">
	@using (Html.BeginForm())
	{
		@Html.Hidden("fromUrl",Request.QueryString["ReturnUrl"])

		<div class="email">
			<label for="email">@SiteStrings.Shared_Username</label>
			@Html.TextBox("email")
		</div>
		<br />	

		<div class="password">
			<label for="password">@SiteStrings.Shared_Password_Label</label>
			@Html.Password("password")
		</div>
		<br />
	
		<div class="buttonContainer">
			<input type="submit" class="button saveButton" value="@SiteStrings.Button_Login" />
		</div>
		<br class="clear" />
	}
	</div>
</div>