@{ 
	ViewBag.Title = SiteStrings.Login_Title;
	Layout = "~/Views/Shared/_Blank.cshtml";
}
<div class="padded" style="background-color:#FFF; min-height:280px;">
	<h1>@SiteStrings.Login_Title</h1>

	<div class="container pull-left">
		<div class="row">
			<div class="col-sm-4">
				@Html.ValidationSummary(SiteStrings.Login_Unsuccessful_Title, new { @class = "alert alert-danger" })

				<div id="login" class="lightborder rounded10 col-sm-12">

					<form class="form-horizontal" role="form" method="post">
						@Html.Hidden("fromUrl", Request.QueryString["ReturnUrl"])

						<div class="form-group">
							<label for="email" class="col-sm-4 control-label">@SiteStrings.Shared_Email_Label</label>
							<div class="col-sm-8">
								@Html.TextBox("email", null, new { @class = "form-control" })
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="col-sm-4 control-label">@SiteStrings.Shared_Password_Label</label>
							<div class="col-sm-8">
								@Html.Password("password", null, new { @class = "form-control" })
							</div>
						</div>

						<div class="col-sm-12">
							@Html.ActionLink(@SiteStrings.Login_ForgottenPassword, "ResetPassword", null, new { @class = "smaller" })
						</div>

						<div class="form-group">
							<div class="col-sm-offset-8 col-sm-8">
								<input type="submit" class="btn btn-primary right" value="@SiteStrings.Button_Login" />
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>