@model UserViewModel
@{
	ViewBag.Title = SiteStrings.ResetPassword_Title;
}

<h1>@SiteStrings.ResetPassword_Title</h1>

<div class="container pull-left">
	<div class="row">
		<div class="col-sm-5">
			@Html.BootstrapValidationSummary(SiteStrings.Shared_Error)
			<p>@SiteStrings.ResetPassword_Complete_Label</p>

			<div id="resetpassword" class="lightborder rounded10 col-sm-12">

				<form class="form-horizontal" role="form" method="post">
					<div class="form-group">
						<label for="Password" class="col-sm-4 control-label">@SiteStrings.Shared_Password_Label</label>
						<div class="col-sm-8">
							@(Html.PasswordFor<UserViewModel, string>(t => t.Password, new { @class = "form-control" }))
						</div>
					</div>

					<div class="form-group">
						<label for="PasswordConfirmation" class="col-sm-4 control-label">@SiteStrings.Shared_PasswordConfirm_Label</label>
						<div class="col-sm-8">
							@(Html.PasswordFor<UserViewModel, string>(t => t.PasswordConfirmation, new { @class = "form-control" }))
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-8">
							<input type="submit" class="btn btn-primary right" value="@SiteStrings.Button_ResetPassword" />
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>