@{ 
	ViewBag.Title = SiteStrings.Login_Title;
}

<h1>@SiteStrings.Login_Title</h1>
@Html.ValidationSummary(SiteStrings.Login_Unsuccessful_Title, new { @class = "alert alert-block alert-error fade in", data_dismiss = "alert" })

@using (Html.BeginForm())
{
	@Html.Hidden("fromUrl",Request.QueryString["ReturnUrl"])
	<fieldset id="login" class="rounded10 lightborder">
		<label for="email" class="userlabel">@SiteStrings.Shared_Email_Label</label>
		@Html.TextBox("email", null, new { @class = "usertextbox" })
		<br class="clear" />	

		<label for="password" class="userlabel">@SiteStrings.Shared_Password_Label</label>
		<div>@Html.Password("password", null, new { @class = "usertextbox" })</div>
		<br class="clear" />

		@Html.ActionLink(@SiteStrings.Login_ForgottenPassword, "ResetPassword", null, new { @class = "smaller" })
	
		<input type="submit" id="userbutton" class="btn btn-primary" value="@SiteStrings.Button_Login" />
	</fieldset>
}