@{ 
	ViewBag.Title = SiteStrings.SiteSettings_Tools_Title;
	ViewData["ToolsActive"] = true;
}

@Html.Partial("SettingsMenu")

<script type="text/javascript">
	$(document).ready(function ()
	{
		$("#settingscontainer a.refreshlink").click(function ()
		{
			// Appends the progress bar div under the clicked anchor, and shows it
			$(this).parent().parent().append($("#wait"));
			$(this).parent().parent().find(".progress").show();
		});

		if ($(".alert").text().trim().length > 0)
		{
			$(".alert").show().delay(2500).fadeOut(1000);
		}
	});
</script>

<div class="alert alert-success hide">@TempData["Message"]</div>

<div id="settings-container">
	<div>
		@Html.ActionLink(SiteStrings.SiteSettings_Tools_ClearDatabase, "ClearPages", null, new { @class = "refreshlink btn btn-success" })<br />
		<p>@SiteStrings.SiteSettings_Tools_ClearDatabase_Label</p>
	</div>

	<div>
		@Html.ActionLink(SiteStrings.SiteSettings_Tools_RebuildSearch, "UpdateSearchIndex", null, new { @class = "refreshlink btn btn-success" })<br />
		<p>@SiteStrings.SiteSettings_Tools_RebuildSearch_Label</p>
	</div>

	<div>
		@Html.ActionLink(SiteStrings.SiteSettings_Tools_ExportXml, "ExportAsXml", null, new { @class = "btn btn-success" })<br />
		<p>@SiteStrings.SiteSettings_Tools_ExportXml_Label</p>
	</div>

	<div>
		@Html.ActionLink(SiteStrings.SiteSettings_Tools_ExportContent, "ExportAsWikiFiles", null, new { @class = "btn btn-success" })<br />
		<p>@SiteStrings.SiteSettings_Tools_ExportContent_Label</p>
	</div>

	<div>
		@Html.ActionLink(SiteStrings.SiteSettings_Tools_ExportAttachments, "ExportAttachments", null, new { @class = "btn btn-success" })<br />
		<p>@SiteStrings.SiteSettings_Tools_ExportAttachments_Label</p>
	</div>
	<br />

	<h1>@SiteStrings.SiteSettings_Tools_ScrewTurnImport</h1><br />
	<p>
	@SiteStrings.SiteSettings_Tools_ScrewTurnImport_Label
	</p>

	@using (Html.BeginForm("ImportFromScrewTurn", "Settings"))
	{
	<b>@SiteStrings.SiteSettings_Tools_ScrewTurnImport_Connection</b>
	@(Html.TextBox("screwturnConnectionString", null, new { @class = "longtextbox" }))<br />
	<input type="submit" class="btn-small btn-primary" value="@SiteStrings.Button_Import" />
	}
	<br />

	<h1>@SiteStrings.SiteSettings_Tools_RenameTag</h1><br />
	<p>
	@SiteStrings.SiteSettings_Tools_RenameTag_Label
	</p>

	@using (Html.BeginForm("RenameTag", "Settings"))
	{
	<div class="left bold" style="width:150px;">@SiteStrings.SiteSettings_Tools_RenameTag_Existing</div>
	<div class="left">@(Html.TextBox("oldTagName", null, new { style = "width:100px" }))</div>
	<br class="clear" />
	 
	<div class="left bold" style="width:150px;">@SiteStrings.SiteSettings_Tools_RenameTag_New</div>
	<div class="left">@(Html.TextBox("newTagName", null, new { style = "width:100px" }))</div>
	<br class="clear" />
	<input type="submit" class="btn-small btn-primary" value="@SiteStrings.Button_Rename" />
	}
</div>


<div id="wait" class="progress progress-striped active hidden" style="text-align:center;width:200px;">
	<div class="bar" style="width: 60%;"></div>
</div>