@model IList<IEnumerable<UserSummary>>
@{ 
	ViewBag.Title = SiteStrings.SiteSettings_Users_Title;
	ViewData["UsersActive"] = true;
}

@Html.Partial("SettingsMenu")

@if (TempData["action"] != null)
{
	<script type="text/javascript">
		$(window).load(function ()
		{
			if ($.browser.msie === true)
			{
				var ie9Fix = 'Roadkill.Site.AdminSetup.showUserModal("@(TempData["action"])")';
				setTimeout(ie9Fix, 500);
			}
			else
			{
				Roadkill.Site.AdminSetup.showUserModal("@(TempData["action"])")
			}
		});
	</script>
}

<div>
	<h1>@SiteStrings.SiteSettings_Users_Admins</h1>
	<p>
		<button id="addadmin" class="btn btn-primary btn-success">@SiteStrings.SiteSettings_Users_NewAdmin</button>
	</p>
	<table class="table table-striped" id="admins-table">
		<thead>
			<tr>
				<th>@SiteStrings.SiteSettings_Users_ColumnHeader_Username</th>
				<th>@SiteStrings.SiteSettings_Users_ColumnHeader_Email</th>
				<th colspan="2"></th>
			</tr>
		</thead>
	@foreach (UserSummary user in Model[0])
	{
		<tr>
			<td style="width:30%;">@user.ExistingUsername</td>
			<td class="stretch">@user.ExistingEmail</td>
			<td class="edit"><a href="javascript:;" class="btn btn-primary btn-mini" rel="var user = {id : '@user.Id', email :'@user.ExistingEmail',username:'@user.ExistingUsername'}">@SiteStrings.Navigation_Edit</a></td>
		@if (Model[0].Count() > 0 && user.Id.ToString() != RoadkillContext.CurrentUser)
		{
			<td class="delete">@Html.ActionLink(SiteStrings.Navigation_Delete, "DeleteUser", new { id = user.ExistingEmail }, new { @class = "confirm btn btn-mini" })</td>
		}
		else
		{
			<td></td>
		}
		</tr>
	}
	</table>
	<br class="clear" />

	<h1>@SiteStrings.SiteSettings_Users_Editors</h1>
	<p>
		<button id="addeditor" class="btn btn-primary btn-success">@SiteStrings.SiteSettings_Users_NewEditor</button>
	</p>
	<table class="table table-striped" id="editors-table">
		<thead>
			<tr>
				<th>@SiteStrings.SiteSettings_Users_ColumnHeader_Username</th>
				<th>@SiteStrings.SiteSettings_Users_ColumnHeader_Email</th>
				<th colspan="2"></th>
			</tr>
		</thead>
	@foreach (UserSummary user in Model[1])
	{
		<tr>
			<td style="width:30%;">@user.ExistingUsername</td>
			<td class="stretch">@user.ExistingEmail</td>
			<td class="edit"><a href="javascript:;" class="btn btn-primary btn-mini" rel="var user = {id : '@user.Id', email :'@user.ExistingEmail',username:'@user.ExistingUsername'}">@SiteStrings.Navigation_Edit</a></td>
			<td class="delete">@Html.ActionLink(SiteStrings.Navigation_Delete, "DeleteUser", new { id = user.ExistingEmail }, new { @class = "confirm btn btn-mini" })</td>
		</tr>
	}
	</table>
	<br class="clear" />

	@Html.DialogPartial("AddEditUser", Model)
</div>