@model UserSummary
@{ 
	ViewBag.Title = SiteStrings.ResetPassword_Title;
}

<h1>@SiteStrings.ResetPassword_Title</h1>
@Html.ValidationSummary(SiteStrings.Shared_Error, new { @class = "alert alert-block alert-error fade in", data_dismiss = "alert" })

<p>@SiteStrings.ResetPassword_Complete_Label</p>
@using (Html.BeginForm())
{
	<fieldset id="resetpassword" class="rounded10 lightborder">
		<label for="Password" class="userlabel">@SiteStrings.Shared_Password_Label</label>
		@(Html.PasswordFor<UserSummary, string>(t => t.Password, new { @class = "usertextbox" }))
		<br class="clear" />

		<label for="PasswordConfirmation" class="userlabel">@SiteStrings.Shared_PasswordConfirm_Label</label>
		@(Html.PasswordFor<UserSummary, string>(t => t.PasswordConfirmation, new { @class = "usertextbox" }))	
		<br class="clear" />

		<input type="submit" id="userbutton" class="btn btn-primary" value="@SiteStrings.ResetPassword_Button" />
	</fieldset>
}