@{ 
	ViewBag.Title = SiteStrings.ResetPassword_Title;
}

<h1>@SiteStrings.ResetPassword_Title</h1>
@Html.ValidationSummary(SiteStrings.Shared_Error)

<p>@SiteStrings.ResetPassword_Label</p>
@using (Html.BeginForm())
{
	<fieldset id="resetpassword" class="rounded10 lightborder">
		<label for="email" class="userlabel">@SiteStrings.Shared_Email_Label</label>
		@Html.TextBox("email", null, new { @class = "usertextbox" })
		<br class="clear" />

		<input type="submit" id="userbutton" class="button" value="@SiteStrings.ResetPassword_Button" />
	</fieldset>
}